@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans';
}
header>a{
    color: #5d00e4;
    font-family: 'Shrikhand';
    font-weight: 100;
    font-size: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#pesquisa{
    font-family: 'Open Sans';
    border-radius: 7px;
    outline: none;
    border: 1px solid #707070;
    resize: none;
    width: 75%;
    height: 30px;
    font-size: 15px;
}
.navbar ul{
    list-style-type: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
.navbar a{
    color: #5d00e4;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #e6e6e6;
}
.navbar li{
    font-family: 'Shrikhand';
    font-weight: 100;
    float: left;
    width: 100%;
}
#assinaturaOff>a{
    font-family: 'Shrikhand';
    border-radius: 10px;
    word-spacing: 1px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #5d00e4;
    height: 30px;
    display: flex;
    justify-content: center;
}
#assinaturaLavalux h4{
    color: #5d00e4;
}
#assinaturaLavalux h3, h4, h5{
    margin: 0px;
}
#assinaturaLavalux h5{
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}
#assinaturaLavalux img{
    width: 100%;
    margin-bottom: 20px;
}
#vantagens{
    margin: 20px;
}
.vantagensIndividual{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 0.75rem;
    width: 42%;
    height: 10rem;
    background: rgba(23, 94, 168, 0.08);
    border-radius: 1rem;
}
#vantagens h3{
    padding-bottom: 20px;
}
#vantagens ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem 0.5rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
#vantagens ul li h4{
    color: rgba(0, 0, 0, 0.5);
}
.centralizar{
    text-align: center;
}
nav>div>a{
    background-color: #c9c9c9;
    color: #808080;
    font-size: 15px;
    font-family: 'Shrikhand';
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.produto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.produtoIndividual{
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    width: 37%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.produtoIndividual>h2{
    color: #000096;
}
.produtoIndividual>h3{
    font-size: 15px;
    color: black;
}
#meiosDePagamento{
    width: 200px;
}
footer{
    background-color: #5d00e4;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    margin: 0;
}
@media (min-width: 768px) {
    .produtoIndividual{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center ;
    }
    main{
        margin: 0px 300px;
        font-size: 1.5em;
    }
    header{
        margin: 0px 300px;
    }
    nav{
        font-size: 1.5em;
        margin: 0px 300px;
    }
    .vantagensIndividual{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0.75rem;
        width: 200px;
        height: 200px;
        background: rgba(23, 94, 168, 0.08);
        border-radius: 1rem;
        padding: 3rem;
    }
    #vantagens ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        gap: 4rem 0.5rem;
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }
    #assinaturaLavalux img{
        width: 50%;
        margin-bottom: 20px;
    }
}